main > .section > .title-wrapper {
  padding: 0;
}

.title {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 40px 16px 24px;
}  

.title h2 {
  color: var(--text-color);
  text-align: center;
  font-feature-settings: 'liga' off, 'clig' off;
  font-family: var(--ff-unilever-shilling);
  font-size: var(--heading-font-size-s);
  font-style: normal;
  font-weight: 500;
  line-height: 25px;
}

  .title h2 .subtitle {
  display: block;
  margin-top: 4px;
  color: var(--ufs-orange);
  text-align: center;
  font-feature-settings: 'liga' off, 'clig' off;
  font-family: var(--ff-chefs-hand);
  font-size: var(--heading-font-size-l);
  font-style: normal;
  font-weight: 400;
  line-height: 25px;
  letter-spacing: -0.3px;
}

.title p {
  color: var(--text-color);
  text-align: center;
  font-feature-settings: 'liga' off, 'clig' off;
  font-family: var(--ff-unilever-shilling);
  font-size: var(--body-font-size-xs);
  font-style: normal;
  font-weight: 400;
  line-height: 22px;
  margin: 0;
}

@media (width >= 900px) { 
  .title {
    max-width: 1440px;
    margin: 0 auto;
    padding: 64px 100px;
    gap: 16px;
  }

  .title h2 {
    color: var(--text-color);
    font-family: var(--ff-unilever-shilling);
    font-size: 25px;
    font-style: normal;
    font-weight: 500;
    line-height: 32px; 
  }

  .title h2 .subtitle {
    color: var(--ufs-orange);
    font-family: var(--ff-chefs-hand);
    font-size: 42px;
    font-style: normal;
    font-weight: 400;
    line-height: 32px;
    letter-spacing: -0.3px;
  }

  .title p {
    color: var(--text-color);
    font-family: var(--ff-unilever-shilling);
    font-size: var(--body-font-size-s);
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
  }
}