main > .section > .title-wrapper {
  padding: 0;
}

.title {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: var(--spacing-2xl) var(--spacing-md) var(--spacing-lg);
}

.title.grey,
.title.light-mushroom {
  background: var(--light-mushroom);
}

.title.dark,
.title.squid-ink {
  background: var(--squid-ink);
}

.title h2 {
  color: var(--text-color);
  text-align: center;
  font-feature-settings: 'liga' off, 'clig' off;
  font-family: var(--ff-unilever-shilling);
  font-size: var(--typo-h2-size-mobile);
  font-style: normal;
  margin: 0;

  /* If I apply font-weight 600, it's too bold. Keeping it 500 for now */
  font-weight: var(--typo-h2-weight);
  line-height: var(--typo-h2-line);
}

.title.dark h2,
.title.squid-ink h2 {
  color: var(--c-white);
}


  .title h2 .subtitle {
  display: block;
  margin-top: 4px;
  color: var(--ufs-orange);
  text-align: center;
  font-feature-settings: 'liga' off, 'clig' off;
  font-family: var(--ff-chefs-hand);
  font-size: var(--typo-ch-h2-size-mobile);
  font-style: normal;
  font-weight: var(--typo-ch-h2-weight);
  line-height: var(--typo-ch-h2-line-mobile);
  letter-spacing: var(--typo-ch-h2-tracking);
}

.title p {
  color: var(--text-color);
  text-align: center;
  font-feature-settings: 'liga' off, 'clig' off;
  font-family: var(--ff-unilever-shilling);
  font-size: var(--typo-p1-reg-size-mobile);
  font-style: normal;
  font-weight: var(--typo-subheadline-weight);
  line-height: var(--typo-p1-reg-line-mobile);
  margin: 0;
}

.title.dark p,
.title.squid-ink p {
  color: var(--c-white);
}


@media (width >= 900px) {
  .title {
    max-width: none;
    margin: 0 auto;
    padding: 64px 100px 32px;
    gap: var(--spacing-md);
  }

  .title h2 {
    color: var(--text-color);
    font-family: var(--ff-unilever-shilling);
    font-size: var(--typo-h2-size-desktop);
    font-style: normal;

      /* Same as on mobile: Keeping it 500 for now */
    font-weight: var(--typo-h2-weight);
    line-height: var(--typo-h2-line-desktop);
  }

  .title h2 .subtitle {
    color: var(--ufs-orange);
    font-family: var(--ff-chefs-hand);
    font-size: var(--typo-ch-h2-size-desktop);
    font-style: normal;
    font-weight: var(--typo-ch-h2-weight);
    line-height: var(--typo-ch-h2-line-desktop);
    letter-spacing: -0.3px;
  }

  .title p {
    color: var(--text-color);
    font-family: var(--ff-unilever-shilling);
    font-size: var(--body-font-size-s);
    font-style: normal;
    font-weight: var(--typo-p1-reg-weight);
    line-height: var(--typo-p1-reg-line-desktop);
  }
}