.hero-container .hero-wrapper {
  max-width: unset;
  padding: 0;
}

.hero {
  position: relative;
  padding: 40px 24px;
  min-height: 300px;
}

.hero h1 {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  color: var(--background-color);
}

.hero picture {
  position: absolute;
  z-index: -1;
  inset: 0;
  object-fit: cover;
  box-sizing: border-box;
}

.hero img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.hero .hero--video-wrapper,
.hero .hero--logo-wrapper {
  position: absolute;
  left: 50%;
  translate: -50%;
}

.hero .hero--logo-wrapper {
  top: 10%;
}

.hero .hero--video-wrapper {
  top: 30%;
  width: 80px;
  height: 80px;
}

.hero .hero--video-wrapper a {
  display: block;
  width: 100%;
  height: 100%;
  background-image: url('/icons/video-play-button.svg');
}

.hero .hero--logo-text::after {
  content: '';
  display: block;
  background-image: var(--future-menu-logo-text-url);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  width: 240px;
  height: 124px;
}

.hero .hero--logo-number::after {
  content: '';
  display: block;
  background-image: var(--future-menu-logo-number-url);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  width: 40px;
  height: 56px;
  translate: 188px -58px;
}

@media (width >= 900px) {
  .hero {
    padding: 40px 32px;
  }
}

.hero__live,
.hero__countdown {
  --gradient-color-start: #221d3700;

  max-height: 782px;
}

:is(.hero__countdown--media, .hero__live--media) img {
  aspect-ratio: 3 / 4;
  max-height: 520px;
  object-fit: cover;
}

.hero__live--content,
.hero__countdown--content {
  color: var(--c-white);
  padding-block-start: 300px;
  text-align: center;
}

:is(.hero__countdown--text-content, .hero__live--text-content) > h1 {
  font-size: 28px;
  margin-bottom: 8px;
}

:is(.hero__countdown--text-content, .hero__live--text-content) > p {
  font-size: 14px;
  margin: 0;
}

:is(.hero__countdown--content, .hero__live--content)::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #0003; /* black with 20% opacity */
  z-index: -1;
}

:is(.hero__countdown--content, .hero__live--content)::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(180deg, var(--gradient-color-start), var(--squid-ink) 49.14%);
  z-index: -1;
}

:is(.hero__countdown--cta, .hero__live--cta) {
  font-size: 14px;
}

:is(.hero__countdown--cta, .hero__live--cta) .button-container {
  margin-block-start: 16px;
  display: flex;
  justify-content: center;
}

:is(.hero__countdown--cta, .hero__live--cta) .button-container a {
  display: flex;
  height: 50px;
  padding: 19px 40px;
  justify-content: center;
  align-items: center;
  gap: 8px;
  align-self: stretch;
  border-radius: 99px;
  background: linear-gradient(180deg, #0000 0%, #0003 100%), #D14900;
  box-shadow: 0 0 0 4px #fff3;
  max-width: 284px;
}

.hero__live--disclaimer,
.hero__countdown--disclaimer {
  color: #B1B1B1;
  font-size: 10px;
  line-height: 30px; /* 300% */
}

@media (width >= 992px) {
  .hero .hero--logo-wrapper {
    top: 25%;
  }

  .hero .hero--video-wrapper {
    top: 50%;
  }

  .hero__live,
  .hero__countdown {
    padding: 0;
  }

  .hero__live--wrapper,
  .hero__countdown--wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 717px;
  }

  .hero__live--media,
  .hero__countdown--media {
    order: 2;
    position: relative;
  }

  :is(.hero__countdown--media, .hero__live--media) img {
    max-height: none;
    aspect-ratio: 16 / 9;
  }

  .hero__live--content,
  .hero__countdown--content {
    order: 1;
    padding: 0 16px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 503px;
    margin: 0 auto;

    &::after {
      left: -50%;
      background: var(--squid-ink);
    }
  }

  .hero__live--text-content,
  .hero__countdown--text-content {
    max-width: 503px;
    text-align: left;

    > h1 {
      font-size: 42px;
    }

    > p {
      font-size: 18px;
    }
  }

  .hero__live--cta,
  .hero__countdown--cta {
    font-size: 18px;
    width: 100%;

    & .button-container a {
      max-width: 503px;
      height: 60px;
      padding: 19px 40px;
      width: 100%;
    }
  }

  .hero__live--disclaimer,
  .hero__countdown--disclaimer {
    width: 100%;
    font-size: 12px;
    text-align: left;
  }
}

@media (width >= 992px) and (width <= 1079px) {
  :is(.hero__countdown--text-content, .hero__live--text-content) > h1 {
    font-size: 36px;
  }

  :is(.hero__countdown--text-content, .hero__live--text-content) > p {
    font-size: 16px;
  }
}