.reset-password-modal-overlay {
  padding: var(--spacing-md);
}

.reset-password-modal-content {
  max-width: 358px;
  transform: none;
}

.reset-password-modal {
  padding: 56px 8px 8px;
  max-width: 358px;
  min-height: 417px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
  overflow: hidden;
  margin: 0 auto;
  background: var(--c-white);
  border-radius: 28px;
}

.reset-password-modal-top {
  display: flex;
  flex-direction: column;
  gap: 13px;
  flex: 1;
  padding: 0 var(--spacing-xs);
}

.reset-password-modal-title {
  font-family: var(--heading-font-family);
  font-size: 24px;
  font-weight: 500;
  line-height: 22px;
  color: var(--dark-grey);
  margin: 0;
}

.reset-password-modal-description {
  font-family: var(--body-font-family);
  font-size: var(--body-font-size-xs);
  line-height: 22px;
  color: var(--dark-grey);
  margin: 0;
}

.reset-password-modal-form {
  display: flex;
  flex-direction: column;
  gap: 12px;
  width: 100%;
}

.reset-password-modal-form .form-group {
  gap: 4px;
  width: 326px;
}

.reset-password-modal-bottom {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  padding: 24px 0;
  min-height: 174px;
  width: 100%;
}

.reset-password-modal-cancel {
  background: none;
  border: none;
  font-family: var(--body-font-family);
  font-size: var(--body-font-size-xs);
  line-height: normal;
  color: var(--text-color);
  text-align: center;
  cursor: pointer;
  padding: 0;
  text-decoration: underline;
}

.reset-password-modal-cancel:hover {
  opacity: 0.8;
}

.reset-password-modal-form .btn-primary {
  width: 100%;
  max-width: 326px;
}

.change-password-modal-overlay {
  padding: var(--spacing-md);
}

.change-password-modal-content {
  max-width: 358px;
  transform: none;
}

.change-password-modal {
  padding: 40px 8px 8px;
  max-width: 358px;
  min-height: 417px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
  overflow: hidden;
  margin: 0 auto;
  background: var(--c-white);
  border-radius: 28px;
}

.change-password-modal-top {
  display: flex;
  flex-direction: column;
  gap: 10px;
  flex: 1;
  padding: 0 var(--spacing-xs);
  min-height: 160px;
  overflow-y: auto;
}

.change-password-modal-title {
  font-family: var(--heading-font-family);
  font-size: 24px;
  font-weight: 500;
  line-height: 22px;
  color: var(--dark-grey);
  margin: 0;
}

.change-password-modal-description {
  font-family: var(--body-font-family);
  font-size: var(--body-font-size-xs);
  line-height: 22px;
  color: var(--dark-grey);
  margin: 0;
}

.change-password-modal-form {
  display: flex;
  flex-direction: column;
  gap: 12px;
  width: 100%;
}

.change-password-modal-form .form-group {
  gap: 4px;
  width: 326px;
}

.password-requirements {
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin-top: 4px;
}

.password-requirement {
  display: flex;
  gap: 4px;
  align-items: center;
}

.password-requirement-icon {
  width: 30px;
  height: 30px;
  flex-shrink: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.password-requirement-text {
  font-family: var(--body-font-family);
  font-size: 12px;
  line-height: 16px;
  color: var(--smoke);
  margin: 0;
}

.password-requirement-text-valid {
  color: var(--dark-grey);
}

.password-requirement-icon svg path {
  stroke: var(--smoke);
}

.password-requirement-icon.password-requirement-valid svg path {
  stroke: var(--success);
}

.change-password-modal-form .btn-primary {
  width: 100%;
  max-width: 326px;
}

@media (width < 992px) {
  .reset-password-modal {
    max-width: 100%;
    border-radius: 28px 28px 0 0;
    margin-top: auto;
  }

  .reset-password-modal-overlay {
    align-items: flex-end;
    padding: 0;
  }

  .reset-password-modal-form .form-group {
    width: 100%;
  }

  .change-password-modal {
    max-width: 100%;
    border-radius: 28px 28px 0 0;
    margin-top: auto;
  }

  .change-password-modal-overlay {
    align-items: flex-end;
    padding: 0;
  }

  .change-password-modal-form .form-group {
    width: 100%;
  }
}
