body {
  position: relative;
}

.floating-cta__container {
  --gradient-color-start: #221d3700;

  width: 100%;
  height: 304px;
  padding: 32px 0;
  position: sticky;
  bottom: 0;
  z-index: var(--z-sticky);
  color: var(--c-white);
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;

  &::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(180deg, var(--gradient-color-start) 0%, var(--squid-ink) 67.54%);
    z-index: -1;
  }

  &.hidden {
    display: none;
  }
}

.floating-cta__title {
  font-size: 14px;
}

.floating-cta__disclaimer {
  font-size: 10px;
  color: var(--mid-smoke);
}
