.hero__trend {
	position: relative;
	padding: 0;
	background-color: var(--c-white);
}

.trend--wrapper {
	position: relative;
	background-color: var(--c-white);
	padding-block-end: var(--spacing-xl);
}

.trend--background {
	position: relative;
	min-height: 443px;
	padding: 104px var(--spacing-md) 170px;
	overflow: hidden;
	display: flex;
	justify-content: center;
	align-items: flex-start;
	text-align: center;

	&::before {
		content: '';
		position: absolute;
		inset: 0;
		background:
			linear-gradient(180deg, rgb(0 0 0 / 0%) 15.673%, rgb(0 0 0 / 20%) 78.094%),
			linear-gradient(90deg, var(--smoke) 0%, var(--smoke) 100%);
		z-index: 0;
	}
}

.trend--title {
	position: relative;
	z-index: var(--z-content);
	margin: 0;
	max-width: 333px;
	color: transparent;
	text-align: center;
	font-size: 52px;
	font-family: var(--ff-unilever-shilling), sans-serif;
	font-weight: 700;
	line-height: 44px;
	letter-spacing: -2px;
	text-shadow: var(--glow-borderless-cuisine);

	&::before {
		content: '';
		display: block;
		width: 130px;
		height: 75px;
		margin: 0 auto var(--spacing-sm);
		background-image: var(--future-menu-logo-text-url);
		background-repeat: no-repeat;
		background-position: center;
		background-size: contain;
	}
}

.trend--media {
	position: relative;
	z-index: var(--z-overlay);
	width: min(818px, calc(100% - (var(--spacing-md) * 2)));
	height: clamp(257px, 42vw, 460px);
	margin: -129px auto 0;
	border-radius: clamp(16px, 2vw, 24px);
	overflow: hidden;
}

.trend--media picture,
.trend--media img {
	display: block;
	width: 100%;
	height: 100%;
}

.trend--media img {
	object-fit: cover;
}

@media (width >= 992px) {
	.trend--wrapper {
		max-width: unset;
		padding-block-end: var(--spacing-2xl);
	}

	.trend--background {
		min-height: 617px;
		padding: 120px var(--spacing-lg) 210px;

		&::before {
			background:
				linear-gradient(180deg, rgb(0 0 0 / 0%) 15.673%, rgb(0 0 0 / 20%) 78.094%),
				linear-gradient(90deg, var(--smoke) 0%, var(--smoke) 100%);
		}
	}

	.trend--title {
		max-width: 818px;
		width: 100%;
		font-size: 72px;
		line-height: 1;

		&::before {
			width: 250px;
			height: 141px;
			margin: 0 auto var(--spacing-md);
			filter: drop-shadow(0 2px 8px rgb(0 0 0 / 50%));
		}
	}

	.trend--media {
		width: min(818px, calc(100% - (var(--spacing-lg) * 2)));
		height: 489px;
		margin: -221px auto 0;
		border-radius: 24px;
	}
}
