footer {
  font-size: var(--body-font-size-xs);
}

footer .footer > div {
  margin: auto;
  max-width: 1200px;
  padding: 40px 24px 24px;
}

footer .footer p {
  margin: 0;
}

footer .default-content-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

footer .default-content-wrapper p:nth-child(3) {
  margin-block-start: 24px;
}

@media (width >= 900px) {
  footer .footer > div {
    padding: 40px 32px 64px;
  }

  footer .default-content-wrapper {
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto;
    gap: 16px 5px;
    place-content: center;
    text-align: center;
  }

  footer .default-content-wrapper p:nth-child(3) {
    margin-block-start: 0;
    grid-column: 1 / -1;
  }
}
