/* Form Input Styles */

.form-group {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-xxs);
  width: 100%;
}

.form-label {
  font-family: var(--body-font-family);
  font-size: var(--body-font-size-xs);
  font-weight: 500;
  line-height: 22px;
  color: var(--text-color);
  margin: 0;
}

.form-input-wrapper {
  position: relative;
  display: flex;
  align-items: center;
  width: 100%;
}

.form-input {
  width: 100%;
  height: 48px;
  padding: 14px 12px;
  background: var(--light-color);
  border: 1px solid var(--mushroom);
  border-radius: var(--radius-sm);
  font-family: var(--body-font-family);
  font-size: var(--body-font-size-xs);
  color: var(--text-color);
  outline: none;
  box-sizing: border-box;
  transition: all var(--transition-fast);
}

.form-input-wrapper .form-input {
  padding-right: 50px;
}

.form-input::placeholder {
  font-style: italic;
  color: var(--dark-color);
  opacity: 1;
}

.form-input:focus {
  border-color: var(--ufs-orange);
  outline: 2px solid var(--ufs-orange);
  outline-offset: 2px;
  background: var(--c-white);
  box-shadow: 0 0 0 3px rgb(255 90 0 / 10%);
}

.form-input:disabled {
  background: var(--light-color);
  color: var(--dark-color);
  cursor: not-allowed;
  opacity: 0.6;
}
